<section class="users-login">

  <header class="page-header">
    <h1>&raquo; Login</h1>
  </header>

 <div class="well">
    <%= link_to 'Home', [:root], class: 'btn btn-info' %>
    <%= link_to 'Register', [:signup], class: 'btn btn-info' %>
  </div>

  <div class="row">
    <div class="col-sm-3 col-sm-offset-5">
      
      <%= render 'form' %>

    </div>
  </div>

</section>