// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";
@import "forms";
@import "orders";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

.thumbnail {
  background: #222222;
  border-radius: 1em;

  .caption {
    color: #9d9d9d;
  }
}

.container {
  .alert {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
}
